@using System.Data;
@using System.Data.SqlClient;



@{
    string ConnectionString = "Server=DESKTOP-OV988OJ\\SAHIN;Database=StudentInformation; Trusted_Connection=True;";

    async void InsertStudent(string FULLName, string EmailAdress, string IdentNO, string BirthDay)
    {
        using (SqlConnection conn = new SqlConnection(ConnectionString))
        {
            conn.Open();
            string commandtext = "INSERT INTO StudentEduAzINform values(@FULLName,@EmailAdress,@IdentNO,@BirthDay)";
            using (SqlCommand cmd = new SqlCommand(commandtext, conn))
            {
                SqlParameter[] parms = new SqlParameter[]
                {
                CreateSqlparametr("FULLName",SqlDbType.NVarChar,FULLName),
                CreateSqlparametr1("EmailAdress",SqlDbType.VarChar,EmailAdress),
                CreateSqlparametr2("IdentNO",SqlDbType.NVarChar,IdentNO),
                CreateSqlparametr3("BirthDay",SqlDbType.NVarChar,BirthDay),

                };
            }

        }
    }

    SqlParameter CreateSqlparametr(string name, SqlDbType sqlDbType, object newObj)
    {
        SqlParameter sqlParameter = new SqlParameter(name, sqlDbType);
        sqlParameter.Value = newObj;
        return sqlParameter;
    }
    SqlParameter CreateSqlparametr1(string name, SqlDbType sqlDbType, object newObj1)
    {
        SqlParameter sqlParameter = new SqlParameter(name, sqlDbType);
        sqlParameter.Value = newObj1;
        return sqlParameter;
    }
    SqlParameter CreateSqlparametr2(string name, SqlDbType sqlDbType, object newObj2)
    {
        SqlParameter sqlParameter = new SqlParameter(name, sqlDbType);
        sqlParameter.Value = newObj2;
        return sqlParameter;
    }
    SqlParameter CreateSqlparametr3(string name, SqlDbType sqlDbType, object newObj3)
    {
        SqlParameter sqlParameter = new SqlParameter(name, sqlDbType);
        sqlParameter.Value = newObj3;
        return sqlParameter;
    }


}

 <body>
    <div class="w-100   container">
        <div class="d-flex justify-content-between mt-5"> <br> <br> <br> <br> <br>


            <div>
                <div class="">
                    <h1 class="fs-1 text-cl"><b>Virtual Mekteb</b></h1>
                    <p class="p-lg-4 text-cl">Virtual Mektebe Xos Gelmisiniz</p>
                    <p class="w-50 text-cl">Əgər Sizin istifadəçi adınız <a class="text-decoration-none" href=""><b class="text-primary">(student.edu.az)</b></a> və şifrəniz varsa, xahiş edirik Virtual Məktəbə daxil olun.</p>
                </div>
                <div class="w-25 bg-primary ">
                    <button class="btn1_bg w-100 h-100"><span>Virtual Mektebe Daxil Ol <i class="bi bi-chevron-right"></i></span></button>
                </div><br>
                <div class="w-25 bg-primary ">
                    <button class="btn1_bg w-100 h-100"><span>Sifreni Berpa Et <i class="bi bi-chevron-right"></i></span></button>
                </div><br>
                <div class="w-25 bg-primary ">
                    <button class="btn1_bg w-100 h-100"><span>Telime Qosul <i class="bi bi-chevron-right"></i></span></button>
                </div><br>
                <p class="text-cl">Əgər Siz ilk dəfə qeydiyyatdan keçirsinizsə, qeydiyyat <br> bölməsinə daxil olun.</p>
                <br>
                <div>
                    <div class="w-50 bg-primary ">
                        <button class="btn1_bg w-100 h-100"><span>Virtual Mektebe Sagirdin Qeydiyyati <i class="bi bi-chevron-right"></i></span></button>
                    </div><br>
                    <div class="w-50 h-25 bg-primary ">
                        <button class="btn1_bg w-100 h-100"><span>Virtual Mektebde Muellimin Qeydiyyati <i class="bi bi-chevron-right"></i></span></button>
                    </div><br>
                </div>  <br><br><br><br>

            </div>
            <div>
                <img class="w-100 mb-1 h-100" src="https://virtual.edu.az/images/flaqs_2.svg" alt="">
            </div>
        </div>



<!-- Student Information -->
        <div class="d-flex justify-content-between">

            <div>
                <h1 class=""><b>Şagirdlər üçün <br> qeydiyyat </b></h1>

                <div class="w-100">
                    <div class=" stud-qeyd">
                    <p class="text-cl"><b>Şagirdin Adi ve Soyadi <span class="text-danger">*</span></b> </p>
                    <input placeholder="Adi ve Soyadi" class="input-student inp-FullName" type="text"> <br>
                    <p class="text-cl"><b>Email adress <span class="text-danger">*</span></b></p>
                    <input placeholder="Email adress" class="input-student inp-Email" type="text">
                    
                        <p class="text-cl"><b>Şagirdin fərdi identifikasiya nömrəsi (FİN) / UTIS ID <span class="text-danger">*</span></b> </p>
                        <input placeholder="(FİN) / UTIS ID " class="input-student inp-Fin" type="text">
                        <p class="text-cl"><b>Şagirdin Dogum Tarixi <span class="text-danger">*</span></b></p>
                        <input placeholder="Dogum Tarixi" class="input-student inp-Time" type="text">
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <p><b>SIfreni Berpa Et</b></p>
                        <button  class="btn-student ">Davam Et</button>

                    </div>
                </div>
            </div>

            <div>

                <img src="https://virtual.edu.az/images/sagird_banner.svg" alt="">
            </div>
        </div> 


        <!-- Teacher  Information -->

        <div class="d-flex  justify-content-between mt-80 ">
      <div>

                <img src="https://virtual.edu.az/images/muellim_banner.svg" alt="">
            </div>

            <div>
                <h1><b>Muellimler ucun <br> qeydiyyat </b></h1>

                <div class="w-100 ">
                    <p class="text-cl"><b>Şagirdin fərdi identifikasiya nömrəsi (FİN) / UTIS ID <span class="text-danger">*</span></b> </p>
                    <input placeholder="Fin/UTISID" class="input-student" type="text"> <br>
                    <p class="text-cl"><b>Şagirdin Dogum Tarixi <span class="text-danger">*</span></b></p>
                    <input placeholder="Dogum Tarixi" class="input-student" type="text">
                    <div class="d-flex justify-content-between pt-2">
                        <p><b>SIfreni Berpa Et</b></p>
                        <button  class="btn-student ">Davam Et</button>

                    </div>
                </div>
            </div>


        </div>
    <!-- Group  Information -->
    <br><br>

    <h1 class="text-center fs-1"><b>Group</b></h1>
    <div class="d-flex flex-row gap-4 mt-5 flex-wrap justify-content-center">
        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">
        <img  src="https://virtual.edu.az/storage/announcment/oOk4i55dY2mJIdaIH6z4nIiqRRc1fQEmsOklgxio.png" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://files.modern.az/articles/2021/04/02/435737.jpg" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://edu.gov.az/uploads/gallery/2019/12/1576060630/05s15.09.20-01.jpg" class="img-thumbnail w-25 h-25" alt="...">
        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">
        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">

    </div>


    </div>


        <script>
        const btnStudent=document.querySelector('.btn-student')
        const StudQeyd=document.querySelector('.stud-qeyd')
        const Inpstud=document.querySelector('.input-student')
        const InpName=document.querySelector('.inp-FullName')

        const InpEmail=document.querySelector('.inp-Email')

        const InpFin=document.querySelector('.inp-Fin')
        const InpTime=document.querySelector('.inp-Time')



        btnStudent.addEventListener("click",function () {
            
           @(default)ConnectionString.innerHTML+=
           `
        @*@(ConnectionString)InsertStudent("ss","ss","ss","sd");*@
           
           `
            InpName.value="@CreateSqlparametr"
            InpEmail.value="@CreateSqlparametr1"
            InpFin.value="@CreateSqlparametr2"
            InpTime.value="@CreateSqlparametr3"
        })
    </script>

</body>

